nav {
  min-height: 10vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: rgb(80, 80, 80);
  h1 {
    color: rgb(80, 80, 80);
  }
  button {
    background: transparent;
    padding: 1rem;
    transition: all 0.3s ease;
    border-radius: 1rem;
    color: rgb(80, 80, 80);
    font-size: 0.9rem;
    &:hover {
    }

    box-shadow: -6px -6px 10px rgba(255, 255, 255, 0.5),
      6px 6px 10px rgba(70, 70, 70, 0.12);
    outline: none;
    border: 3px solid #ececec;
    cursor: pointer;
  }
}
@media screen and (max-width: 768px) {
  nav {
    button {
      z-index: 15;
    }
  }
}
.active-button {
  box-shadow: -6px -6px 10px rgba(255, 255, 255, 0.5),
    6px 6px 10px rgba(70, 70, 70, 0.12),
    inset -6px -6px 10px rgba(255, 255, 255, 0.5),
    inset 6px 6px 10px rgba(70, 70, 70, 0.12);
}
